
<div class="d-flex page-header py-1 m-3" style="width: 94%;padding-left: 3%;">
  <div class="p-2 me-auto page-title" >Add New Customer</div>

</div>

<div class="sec-custome" style="width: 94%;padding-left: 5%;">

    <form [formGroup]="addCustomerForm" (ngSubmit)="addData()">

        <div class="row">
           
             <div class="form-group col-lg-6 mb-3">
               <label for="name" class="card-text">Full Name</label>
               <input type="text"   class="form-control" formControlName="fullName" >
             </div>

             <div class="form-group col-lg-6 mb-3">
                <label for="title" class="card-text">Region</label>
                <input type="text"  class="form-control" formControlName="region">
              </div>

              <div class="form-group col-lg-6 mb-3">
                <label for="name" class="card-text">Abbrevation</label>
                <input type="text"   class="form-control" formControlName="abbrevation" >
              </div>
 
              <div class="form-group col-lg-6 mb-3">
                 <label for="title" class="card-text">Industry Segment</label>
                 <input type="text"  class="form-control" formControlName="industrySegment">
               </div>

               <div class="form-group col-lg-6 mb-3">
                <label for="name" class="card-text">Notes</label>
                <input type="text"   class="form-control" formControlName="notes" >
              </div>
 
              <div class="form-group col-lg-6 mb-3">
                 <label for="title" class="card-text">Status</label>
                 <input type="text"  class="form-control" formControlName="status">
               </div>

              <div class="form-group col-lg-6 mb-3">
                <label for="title" class="card-text">Current Sales</label>
               <textarea class="form-textarea" formControlName="serviceNames" rows="5" cols="75"></textarea>
              </div>

              <div class="form-group col-lg-6 mb-3">
                <label for="title" class="card-text">Associates</label>
               <textarea class="form-textarea" formControlName="associatenames" rows="5" cols="75"></textarea>
              </div>

              <div class="form-group col-lg-6 mb-3">
                <label for="title" class="card-text">Cross Sell Opportunity</label>
               <textarea class="form-textarea" formControlName="crosSell" rows="5" cols="75"></textarea>
              </div>

              <div class="form-group col-lg-6 mb-3">
                <label for="title" class="card-text">Up Sell</label>
               <textarea class="form-textarea" formControlName="upSell" rows="5" cols="75"></textarea>
              </div>

              <div class="form-group col-lg-6 mb-3">
                <label for="title" class="card-text">Person Responsility</label>
               <textarea class="form-textarea" formControlName="personResponsility" rows="5" cols="75"></textarea>
              </div>

              <div class="form-group col-lg-6 mb-3">
                <label for="title" class="card-text">Goals</label>
               <textarea class="form-textarea" formControlName="goals" rows="5" cols="75"></textarea>
              </div>

              <div class="form-group col-lg-6 mb-3">
                <label for="title" class="card-text">Account History</label>
               <textarea class="form-textarea" formControlName="accountHistory" rows="5" cols="75"></textarea>
              </div>

            </div>

            <div class="d-flex justify-content-end my-2" >
              <button type="submit" class="btn" style="background-color: #2b79c7 !important;color: white;"  >Save</button>
            </div>

    </form>
</div>

<!-- <div class="p-2 sec-services">

  <div class="d-flex page-header py-1">
    <div class="p-2 me-auto page-title">Services</div>
  </div>

  <form [formGroup]="searchForm" class="d-flex m-2" role="search" style="width: 50%;">
    <input class="form-control me-2" formControlName="serviceName" type="search" placeholder="Search Solutions"
      aria-label="Search">
    <button class="btn btn-outline-success" (click)="addService()">Search</button>
  </form>

  <div class="data-layout">
    <div class="d-flex flex-row">
      <div class="me-auto service-name">Github <sup class="service-close" (click)="removeService()"> X </sup> </div>
    </div>

    <h6 class="text-muted">12/12/2024</h6>
  </div>
</div> -->


 <!-- <div class="p-2 sec-associate">
  <div class="d-flex page-header py-1">
    <div class="p-2 me-auto page-title" >Associates</div>
  </div>

  <form [formGroup]="searchAssociateForm" class="d-flex m-2" role="search" style="width: 50%;">
    <input  class="form-control me-2" formControlName="searchTerm" type="search" placeholder="Search Solutions" aria-label="Search">
    <button class="btn btn-outline-success" (click)="addService()"  >Search</button>
  </form>

  <div class="data-layout">
    <div class="d-flex flex-row">
      <div class="me-auto service-name">Github <sup class="service-close" (click)="removeService()"> X </sup> </div>
    </div>

    <h6 class="text-muted">12/12/2024</h6>
  </div>


  
</div>  -->