

<div class="d-flex page-header m-3" style="width: 94%;padding-left: 3%;">
  <div class="me-auto" >
    <h1 class="text-black fw-semibold">  Customer List</h1>
  </div>
  <div class="mx-5">
    <form class="d-flex justify-content-end" role="search">
      <input #myInput id="myInput" class="form-control me-2" type="search"    placeholder="Search Customer" aria-label="Search"
      (input)="onInput($event)"
     >
      <button class="btn fw-semibold" style="background-color: #2b79c7 !important;color: white;"   type="submit" (click)="handleSearch()">Search</button>
    </form>
  </div>
  <div class="page-title " >   
     <button type="button" class="btn" style="background-color: #2b79c7 !important;color: white;" (click)="addCustomer()" >Add Customer</button>
  </div>

  <div *ngIf="userdata.firstName=='Sudheer'" class="page-title ms-2" >   
    <button type="button" class="btn" style="background-color: #2b79c7 !important;color: white;" (click)="addUser()" >Add User</button>
 </div>

</div>

<div class="d-flex justify-content-end m-3">
  </div>

  <table id="datatable" class="table table-responsive  table-bordered"
 >
  <thead>
      <tr>
        <th>SL No.</th>
        <th>Commencement Date</th>
        <th>Sales Agent</th>
          <th>Company Name</th>
          <th>Customer Name</th>
          <th>Customer Email</th>
          <th>Customer Mobile</th>
          <th>Current Sales</th>
          <th>Upselling Opportunity</th>
          <th>Cross Sell Opportunity</th>
          <th>Action</th>
      </tr>
  </thead>
  <tbody *ngFor="let user of dataSource;let i = index">
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{user.accountCreationDate | date:'shortDate' }}</td>
        <td>{{user.associatesNames | titlecase}}</td>
      <!-- <td>{{user.associatesNames | slice: 0:18 }}{{ user.associatesNames.length >18 ? '...' :' ' }}</td> -->
          <td>{{user.fullName | titlecase   }}</td>
          <td>{{user.customerName | titlecase   }}</td>
          <td>{{user.customerEmailId  }}</td>
          <td>{{user.customerPhone  }}</td>
          <td>{{user.servicenames | slice: 0:18 }}{{ user.servicenames.length >18 ? '...' :' ' }}</td>
          <td>{{user.upSell | slice: 0:18 }}{{ user.upSell.length >18 ? '...' :' ' }}</td>
          <td>{{user.crosSell | slice: 0:18 }}{{ user.crosSell.length >18 ? '...' :' ' }}</td>
        <td (click)="editCustomer(user)" class="table-cell">
          <img class="pointer-view" src="../../../assets/view-icon.png" alt="logo">
      </td>
      </tr>
  </tbody>
</table>

<div class="d-flex justify-content-end" style="width: 94%;padding-left: 3%;">
  <div class="p-2"><button type="button"  style="background-color: #2b79c7 !important;color: white;"  [disabled]="pageNo == 1" (click)="prevPage()" class="btn btn-primary btn-sm">Previous</button></div>
  <div class="pt-3"> <span class="view-pageNO">{{pageNo}}</span> </div>
  <div class="p-2"><button type="button"  style="background-color: #2b79c7 !important;color: white;"  [disabled]="pageNo == totalPageCount"  (click)="nextPage()" class="btn btn-primary btn-sm">Next</button></div>
</div>

<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"  >

  

    <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef>Company Name </th>
        <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
      </ng-container>

      <ng-container matColumnDef="region">
        <th mat-header-cell *matHeaderCellDef>region </th>
        <td mat-cell *matCellDef="let element"> {{element.region}} </td>
      </ng-container>

      <ng-container matColumnDef="servicenames">
        <th mat-header-cell *matHeaderCellDef>Solutions </th>
        <td mat-cell *matCellDef="let element"> {{element.servicenames | slice: 0:10 }}{{ element.servicenames >10 ? '...' :' ' }}  </td>
      </ng-container>

      <ng-container matColumnDef="associatesNames">
        <th mat-header-cell *matHeaderCellDef>Associates </th>
        <td mat-cell *matCellDef="let element"> {{element.associatesNames}} </td>
      </ng-container>

    


      <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
            <button type="button" class="btn btn-primary" (click)="editCustomer(element)" >View</button>
            </td>
      </ng-container>

  

  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->
