<!-- <div class="Page"> -->
  

<nav class="navbar navbar-dark bg-header navbar-expand-lg py-3">
    <div class="container-fluid">
      <a class="navbar-brand" (click)="navigateList()"> 
        <img src="../../../assets/CANARYS NEW LOGO PNG.png" width="130px" height="auto">
        </a>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
       
       

        <div class="ms-auto">
          <img (click)="userLogout()" src="../../../assets/logout.png" height="auto" >

        </div>
      </div>
    </div>
  </nav>



    <div class="page-wrapper">
        <router-outlet></router-outlet>
    </div>
<!-- </div> -->
