
  <div style="background-color: white;height: 150px;">
  <div class="d-flex gap-2 p-5">
      <div  >
        <span class="spinner-border text-success spinner-border-lg spinner-border-custom "  role="status" aria-hidden="true"></span>
      </div>
      <div>
        <h2> loading, please wait...</h2>
      </div>
    </div>
  </div>
  
    <!-- <button class="btn btn-primary btn-custom" type="button" disabled>
    </button>

    <span> loading, please wait...</span> -->
  
    
  

<!-- <div style="background-color: white;color: black;padding: 10px;">

  <div class="d-flex page-header py-1">
    <div class="p-2 me-auto page-title" >Add New Associate</div>
  </div>
 
    <form [formGroup]="addCustomerForm" (ngSubmit)="onNoClick()" >

      <div class="row">
          <div class="form-group col-lg-6 mb-3">
             <label for="title" class="card-text">Abbrevation</label>
             <input type="text"  class="form-control" formControlName="associateName">
           </div>
  
           <div class="form-group col-lg-6 mb-3">
             <label for="name" class="card-text">Full Name</label>
             <input type="text"   class="form-control" formControlName="role" >
           </div>
  
           <div class="form-group col-lg-6 mb-3">
              <label for="title" class="card-text">Region</label>
              <input type="text"  class="form-control" formControlName="contactInformation">
            </div>
  
            <div class="d-flex justify-content-end mt-5">
              <button type="submit" class="btn btn-primary"  >Save</button>
            </div>
          </div>
  
      </form>

  </div>


 -->
