<div class="p-4">

    <form [formGroup]="addCustomerForm" (ngSubmit)="submitAddUser()">

        <div class="row">
            <div class="form-group col-lg-6 mb-3">
               <label for="title" class="card-text">Abbrevation</label>
               <input type="text"  class="form-control" formControlName="abbrevation">
             </div>

             <div class="form-group col-lg-6 mb-3">
               <label for="name" class="card-text">Full Name</label>
               <input type="text"   class="form-control" formControlName="fullName" >
             </div>

             <div class="form-group col-lg-6 mb-3">
                <label for="title" class="card-text">Region</label>
                <input type="text"  class="form-control" formControlName="region">
              </div>
 
              <div class="form-group col-lg-6 mb-3">
                <label for="name" class="card-text">Industry Segment</label>
                <select   class="form-select" formControlName="industrySegment"   placeholder="enter " >
                  <!-- <option > Select Status</option> -->
                  <option *ngFor="let item of IndSegmentList"  [value]="item.id" > {{item.label }}</option>
                </select>
              </div>

              <div class="form-group col-lg-6 mb-3">
                <label for="title" class="card-text">notes</label>
                <input type="text"  class="form-control" formControlName="notes">
              </div>
 
              <div class="form-group col-lg-6 mb-3">
                <label for="name" class="card-text">status</label>
                <select   class="form-select" formControlName="status"   placeholder="enter " >
                  <!-- <option > Select Status</option> -->
                  <option *ngFor="let item of statusList"  [value]="item.id" > {{item.label }}</option>
                </select>
              </div>

            </div>

            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-primary" (click)="addsoldServices()" >Add Sold Services</button>
            </div>

            <div class="col-lg-3">

            <div formArrayName="soldServices"  >
              <div *ngFor="let x of soldServicesArray.controls; let i=index" [formGroupName]="i">
                <label for="title" class="card-text">Sold Service Name</label>
                <input class="form-control" formControlName="serviceName" type="text">
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-end mt-5">
            <button type="button" class="btn btn-primary" (click)="addassociates()" >Add Associate</button>
          </div>

          <div class="col-lg-3">

            <div formArrayName="associates"  >
              <div *ngFor="let x of associatesArray.controls; let i=index" [formGroupName]="i">
               
                <div class="form-group">
                  <label for="title" class="card-text">Associate Name</label>
                  <input class="form-control" formControlName="associateName" type="text">
                </div>

                <div class="form-group">
                  <label for="title" class="card-text">Role</label>
                  <input class="form-control" formControlName="role" type="text">
                </div>

                <div class="form-group">
                  <label for="title" class="card-text">Contact</label>
                  <input class="form-control" formControlName="contactInformation" type="text">
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-end mt-5">
            <button type="submit" class="btn btn-primary"  >Update</button>
          </div>

    </form>
</div>

<div class="d-flex justify-content-start m-3">
  <button type="button" class="btn btn-primary"  >Services</button>
</div>

<table mat-table [dataSource]="servicesList" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="serviceName">
    <th mat-header-cell *matHeaderCellDef>Service Name </th>
    <td mat-cell *matCellDef="let element"> {{element.serviceName}} </td>
  </ng-container>

  <ng-container matColumnDef="saleDate">
      <th mat-header-cell *matHeaderCellDef>Sale Date </th>
      <td mat-cell *matCellDef="let element"> {{element.saleDate}} </td>
    </ng-container>

    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
          <button type="button" class="btn btn-primary" (click)="editService(element)" >Edit</button>
          </td>
    </ng-container>

    <!-- <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
          <button type="button" class="btn btn-primary" (click)="editCustomer(element)" >Edit</button>
          </td>
    </ng-container> -->


  <!-- <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

 
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>


  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="servicedisplayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: servicedisplayedColumns;"></tr>
</table>

<div class="d-flex justify-content-start m-3">
  <button type="button" class="btn btn-primary"  >Asscociate</button>
</div>

<table mat-table [dataSource]="associatesList" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="associateName">
    <th mat-header-cell *matHeaderCellDef>Associate Name </th>
    <td mat-cell *matCellDef="let element"> {{element.associateName}} </td>
  </ng-container>

  <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role </th>
      <td mat-cell *matCellDef="let element"> {{element.role}} </td>
    </ng-container>

    <ng-container matColumnDef="contactInformation">
      <th mat-header-cell *matHeaderCellDef>Contact Information </th>
      <td mat-cell *matCellDef="let element"> {{element.contactInformation}} </td>
    </ng-container>

 




    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
          <button type="button" class="btn btn-primary" (click)="editAssociate(element)" >Edit</button>
          </td>
    </ng-container>


  <!-- <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

 
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>


  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="associatedisplayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: associatedisplayedColumns;"></tr>
</table>

